/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
# RTK / Next.js artifact créé par mégarde lors d'un build (filtre RTK qui se prend pour Next.js)
/.next
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
Thumbs.db
docker-compose.override.yml
docker-compose.override.yaml
